.container-body{
    height: 100vh;
}

/* nav */
nav{
    background-color: #22198E;
    height: 95%;
    width: 50%;
    border-radius: 25px;
    margin: 10px;
    margin-right: -10px;
}

#nav-title{
    position: relative;
    top: 30px;
    color: white;
    display: flex;
    justify-content: center;
}
.icono{
    position: relative;
    display: flex;
    justify-content: center;
    top: 120px;
    width: 100%;
    height: 50px;
    color: white;
}

#session{
    top: 190px;
} 

/* end nav */

/* section */

#section-nav{
    background-color: rgb(252, 115, 2);
    color: white;
    border-radius: 15px;
    padding-left: 30px;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 120px;
    width: 100%;
}

#text{
    float: left;
    position: relative;
    top: 5px;
    margin-right: 20px;
}

.btn{
    background-color: rgb(228, 89, 175);
}
.btn-left{
    border-radius: 20px 0px 0px 20px;
    float: left;
}


.btn-rigth{
    border-radius: 0px 20px 20px 0px;
}

.btn:hover{
    background-color: orange;
    height: 40;
}

.section-date-body-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
.section-weeklyReports{
    margin-top: 25px;
}
.section-weeklyReports-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
}
.section-weeklyReports-nav-date{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: right;
}
.section-weeklyReports-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 1em;
}
.section-weeklyReports-body-datos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-items: center;
    height: 140px;
    grid-row-gap: 0.5em;
    border: solid 1px gray;
    border-radius: 30px;
}
.section-img{
    justify-self: center;
    align-self: center;
    border: solid 1px red;
    border-radius: 8px;
    height: 30px;
    width: 50px;
}

.section-img-i{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5px;
}
/*.section-weeklyReports-body-datos-text{
    font-size: 10px;
} */
/* end section */

/* article */

.article{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33% 67%;
}
.article-session{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;  
}
.article-session-pestan{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    align-items: center;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.article-OthersStatitics{
    margin-top: 5%;
    background-color: rgb(226, 226, 225);
    height: 81%;
    width: 103.2%;
    border-radius: 35px 0px 0px 0px;
}
/* end article */