.container-body{
    height: 100vh;
}

/* nav */
nav{
    background-color: #22198E;
    height: 120%;
    width: 50%;
    border-radius: 25px;
    margin: 10px;
    margin-right: -10px;
}

#nav-title{
    position: relative;
    top: 30px;
    color: white;
    display: flex;
    justify-content: center;
}
.icono{
    position: relative;
    display: flex;
    justify-content: center;
    top: 120px;
    width: 100%;
    height: 50px;
    color: white;
}

#session{
    top: 190px;
} 

/* end nav */

/* section */

#section-nav{
    background-color: rgb(252, 115, 2);
    color: white;
    border-radius: 15px;
    padding-left: 30px;
    padding-top: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    height: 120px;
    width: 100%;
}

#text{
    float: left;
    position: relative;
    top: 5px;
    margin-right: 20px;
}

.boton{
    background-color: rgb(228, 89, 175);
}
.btn-left{
    border-radius: 20px 0px 0px 20px;
    float: left;
}


.btn-rigth{
    border-radius: 0px 20px 20px 0px;
}

.section-date-body-row{
    display: flex;
    justify-content: space-evenly;
    margin-top: 15px;
    border-top: solid 1px gray;
    border-bottom: solid 1px gray;
}
.section-weeklyReports{
    margin-top: 25px;
}
.section-weeklyReports-nav{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 50px;
}
.section-weeklyReports-nav-date{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: right;
}
.section-weeklyReports-body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 1em;
}
.section-weeklyReports-body-datos{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-items: center;
    height: 140px;
    grid-row-gap: 0.5em;
    border: solid 1px gray;
    border-radius: 30px;
}
.section-img{
    justify-self: center;
    align-self: center;
    border: solid 1px red;
    border-radius: 8px;
    height: 30px;
    width: 50px;
}

.section-img-i{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 5px;
}
/*.section-weeklyReports-body-datos-text{
    font-size: 10px;
} */
/* end section */

/* article */

.article{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 33% 67%;
}
.article-session{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: right;  
}
.article-session-pestan{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr; 
    align-items: center;
}
img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
}

.article-OthersStatitics{
    margin-top: 5%;
    background-color: rgb(243, 243, 237);
    width: 103.2%;
    border-radius: 35px 0px 0px 0px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;    
}
.article-OthersStatitics-OtherFunctios{
    padding: 40px;
}
.article-OthersStatitics-OtherFunctios-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-row-gap: 1em;
    grid-column-gap: 1em;
}
.article-OthersStatitics-OtherFunctios-body-square{
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    border-radius: 15px;
}
.article-OthersStatitics-OtherFunctios-body-square-head{
    background-color: rgb(236, 108, 219);
    border-radius: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.article-OthersStatitics-OtherFunctios-body-square-head-icon{
    justify-self: left;
    margin-left: 10px;
}
.article-OthersStatitics-OtherFunctios-body-square-head-btn{
    justify-self: right;
}
.btnOthersStatitics:hover{
    border-radius: 0px 15px 15px 0px;
    background-color: rgb(233, 135, 148);
}
.article-OthersStatitics-OtherFunctios-body-square-body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}
.custom-switch{
    align-items: right;
}
.section-Updating-body-info-separator{
    width: 300px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(245, 240, 240);
    border-radius: 15px;
    margin: 10px;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.section-Updating-body-square-grafich{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-left: solid 1px gray;
    justify-items: center;
    height: 100%;
    width: 100%;
}
.section-Updating-body-square-grafich-1{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: rgb(212, 186, 186);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
#section-Updating-body-square-grafich-1{
    animation: pintar 5s linear infinite;
}
.section-Updating-body-square-grafich-2{
    width: 60px;
    height: 60px;
    border-radius: 100%;
    background-color: rgb(180, 129, 129);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
}
.article-OthersStatitics-StatictsofCleaning-barras{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-top: -20px;
    padding: 50px;
}
.article-OthersStatitics-StatictsofCleaning-barras-general{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr;
    gap: 2em;
    justify-items: center;
    align-items: end;
}

.article-OthersStatitics-StatictsofCleaning-barras{
    background-color: honeydew;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows:  30px 1fr;
}
.article-OthersStatitics-StatictsofCleaning-barras-body-uno{
    width: 3px;
    height: 180px;
    background-color: rgb(216, 180, 180);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: end;
}
.article-OthersStatitics-StatictsofCleaning-barras-body-dos{
    width: 100%;
    height: 0;
    background-color: rgb(194, 26, 26);
}

@keyframes pintar {
    0% {
        height: 0;
    }

    50% {
        height: 50%;
    }
}

.article-OthersStatitics-StatictsofCleaning-barras-body-dos {
    animation: pintar 5s linear infinite;
}
/* end article */
